<div class="container">
  <div>
    <label for="setting">グラフの設定（
      <span class="relative">
        <button data-popover-target="popover-info" type="button" class="text-blue-500 underline hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-300">
          補足説明 ⓘ
        </button>
        <div id="popover-info" role="tooltip" class="absolute z-10 invisible inline-block w-64 text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-xs opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800">
          <div class="px-3 py-1 bg-gray-100 border-b border-gray-200 rounded-t-lg dark:border-gray-600 dark:bg-gray-700 font-semibold">
            補足説明 ⓘ
          </div>
          <div class="px-3 py-2">
            「カスタム」から「サンプル1」などに切り替えると、用意されたグラフを使用可能。
          </div>
          <div class="px-3 py-2">
            頂点名を入力し「追加」を押すと挿入モードになり、グラフ上の位置を選ぶと頂点を追加できる。
          </div>
        </div>
      </span>
      ）
    </label>
    <select class="alg-select mb-1" name="setting" id="graph-select">
      <option value="0">カスタム</option>
      <option value="1">サンプル1</option>
      <option value="2">サンプル2</option>
    </select>
    <label>頂点の追加</label>
    <input class="alg-input mb-1" id="node_label" type="text" placeholder="頂点名"></input>
    <button class="alg-btn" id="add">追加</button>
  </div>
  <label>隣接行列</label>
  <table class="w-full border" id="matrix_tbl">
  </table>
  <div>
    <label>グラフ（ 
      <span class="relative">
        <button data-popover-target="popover-info2" type="button" class="text-blue-500 underline hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-300">
          補足説明 ⓘ
        </button>
        <div id="popover-info2" role="tooltip" class="absolute z-10 invisible inline-block w-64 text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-xs opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800">
          <div class="px-3 py-1 bg-gray-100 border-b border-gray-200 rounded-t-lg dark:border-gray-600 dark:bg-gray-700 font-semibold">
            補足説明 ⓘ
          </div>
          <div class="px-3 py-2">
            頂点を選ぶと位置修正モードになり、グラフ上の新しい場所を選ぶと頂点が移動できる。
          </div>
        </div>
      </span>
      ）</label>
    <div id="canvas-hole"></div>
  </div>
</div>
